.topHeader {
    height: 60px;
    background-color: rgb(14, 155, 108);
}

.topHeader input[type="search"] {
    margin-top: 12px;
}

.form-control:focus {
    outline: none;
    border:0;
}

#topHeaderIcon {
    color: #fff;
    margin-top: 15px;
    font-size: 18px;
    margin-right: 15px;
}

.topHeader img {
    border-radius: 50%;
    margin-top: 15px;
    height: 30px;
    width: 30px;
}